<footer class="single single-page without-readmore">
  <div class="container">
    <div class="col-sm-12">
      <p>A Americanae Iurisdictio - Ateneo sobre historia critica del derecho - <%= link_to "Volvé al Inicio", root_path %></p>
    </div>
  </div>
</footer>