<div class="primary-info">
	<h1>Iurisdictio</h1>
	<p>Un blog sobre historia, justicia y derecho <a href="http://adventurethemes.com/demo/writer/html/v2-1/post.html">Mira nuestros artículos.</a> </p>

	<p>Scientia est content</p>
</div>
<div class="secondary-info">
  <p>
    <a class="btn btn-primary" href="http://adventurethemes.com/demo/writer/html/v2-1/index.html#"><i class="fa fa-user-plus"></i>Join Our Newsletter</a>
  </p>
</div>