<div class="jumbotron" style="background-color: rgba(0,0,0,0.6);">
	<div class="primary-info">
		<h1>Nueva Historia del Derecho</h1>
		<p style="font-size: 10px;">Ateneo de Historia Critica del Derecho, Historia Social de la Justicia y Antropología Histórica.</p> 
		<p><a href="">Mira nuestros artículos.</a></p>

		<p>Scientia est content</p>
	</div>
	<div class="secondary-info">
		<p>
			<a class="btn btn-primary" href=""><i class="fa fa-user-plus"></i>Newsletter</a>
		</p>
	</div>
</div>