<div class="primary-info">
	<h1>Americanae Iurisdictio</h1>
	<p>Ateneo de Historia Critica del Derecho, Historia Social de la Justicia y Antropología Histórica <a href="">Mira nuestros artículos.</a> </p>

	<p>Scientia est content</p>
</div>
<div class="secondary-info">
  <p>
    <a class="btn btn-primary" href=""><i class="fa fa-user-plus"></i>Newsletter</a>
  </p>
</div>