<section class="sidebar col-md-5 col-sm-12" style="background-image:url(<%= @enable_joinus ? asset_path('guamanpoma.jpg') : @category.cover.url %>); left: 0px;">
  <span class="menu-trigger animated fadeInDown">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
  </span>
  <div class="site-info">
    <% if @enable_joinus %>
      <%= render "partials/joius" if @enable_joinus %>
    <% else %>
      <div class="primary-info">
        <h1><%= @category.name %></h1>
        <p>Descripcion de la categoria</p>
      </div>
    <% end -%>
  </div>
</section><!--end sidebar-->