<% unless current_user.nil? %>
	<h1>¡¡Bienvenidos <%= current_user.email %></h1>
	
	<iframe src="http://docs.google.com/gview?url=http://www.pdf995.com/samples/pdf.pdf&embedded=true" style="width:718px; height:700px;" frameborder="0"></iframe>

<%else%>
	<h1>bienvenido</h1>
<% end -%>