html, body{
	margin: 0px;
	font-family: 'Lato', sans-serif;
}

a:visited{
	color: inherit;
}

.be-red{
	background-color: #24243C;
}

.white{
	color: #E4E4FC;
}

.large-padding{
	padding: 20px 20px;
}

.no-margin{
	margin: 0px;
}

.no-liststyletype{
	list-style-type: none;
}

.field{
	margin-top: 1em;
}

.form-control{
	border: none;
	border-bottom: 1px solid;
	outline: none;
	width: 100%;
	display: block;
	padding: 10px 0px;
	font-size: 1.2em;
}

.top-space{
	margin-top: 1em;
}